<header class="header">
  <a class="logo" href="{{ site.url }}/">
    <svg width="30px" height="20px" viewBox="0 0 30 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve">
      <path id="logo" d="M1.826,2.191l-1.826,-0.431l0,-1.76l8.317,0l0,1.76l-2.623,0.431l2.74,9.779l0.946,4.233l0.896,-4.233l3.337,-11.97l3.536,0l3.42,11.953l0.913,4.217l0.997,-4.167l2.656,-9.795l-2.573,-0.448l0,-1.76l7.188,0l0,1.76l-1.893,0.431l-5.196,16.951l-3.47,0l-3.586,-12.037l-0.846,-4.001l-0.648,4.001l-3.453,12.037l-3.387,0l-5.445,-16.951Z"/>
    </svg>
  </a>

  <nav class="main-nav">
    <ul>
      <li class="nav-work{% if page.current == 'work' %} active{% endif %}" role="presentation">
        <a href="{{ site.url }}/">Work</a>
      </li>
      <li class="nav-about{% if page.current == 'about' %} active{% endif %}" role="presentation">
        <a href="{{ site.url }}/about/">About</a>
      </li>
      <li class="nav-notes{% if page.current == 'notes' %} active{% endif %}" role="presentation">
        <a href="{{ site.url }}/notes/">Notes</a>
      </li>
    </ul>
  </nav>
</header>
