{% if page.is_active_project == true %}
	{% assign projects = site.active_projects | join: ',' | split: ',' %}

	{% for project in projects %}
	{% assign document_url = project | prepend: '/projects/' | append: '/' %}
	{% if document_url == page.url %}
	<div class="c-container c-container--narrow c-pagination__projects u-flex u-flex-align-items-center u-flex-justify-space-between">
		<div>
		{% if forloop.first %}
			<span hidden class="u-disabled">&lsaquo; Previous project</span>
		{% else %}
			{% assign previous = forloop.index0 | minus: 1 %}
			{% assign previous_page = projects[previous] | prepend: '/projects/' | append: '/' %}
			<a href="{{ previous_page | prepend: site.url }}">&lsaquo; Previous project</a>
		{% endif %}
		</div>
		<div>
		{% if forloop.last %}
			<span hidden class="u-disabled">Next project &rsaquo;</span>
		{% else %}
			{% assign next = forloop.index0 | plus: 1 %}
			{% assign next_page = projects[next] | prepend: '/projects/' | append: '/' %}
			<a href="{{ next_page | prepend: site.url }}">Next project &rsaquo;</a>
		{% endif %}
		</div>
	</div>
	{% break %}
	{% endif %}
	{% endfor %}
{% else %}
	{% assign archived_projects = site.archived_projects | join: ',' | split: ',' %}

	{% for project in archived_projects %}
	{% assign document_url = project | prepend: '/project-archive/' | append: '/' %}
	{% if document_url == page.url %}
	<div class="c-container c-container--narrow c-pagination__projects u-flex u-flex-align-items-center u-flex-justify-space-between">
		<div>
		{% if forloop.first %}
			<span hidden class="u-disabled">&lsaquo; Previous project</span>
		{% else %}
			{% assign previous = forloop.index0 | minus: 1 %}
			{% assign previous_page = archived_projects[previous] | prepend: '/project-archive/' | append: '/' %}
			<a href="{{ previous_page | prepend: site.url }}">&lsaquo; Previous project</a>
		{% endif %}
		</div>
		<div>
		{% if forloop.last %}
			<span hidden class="u-disabled">Next project &rsaquo;</span>
		{% else %}
			{% assign next = forloop.index0 | plus: 1 %}
			{% assign next_page = archived_projects[next] | prepend: '/project-archive/' | append: '/' %}
			<a href="{{ next_page | prepend: site.url }}">Next project &rsaquo;</a>
		{% endif %}
		</div>
	</div>
	{% break %}
	{% endif %}
	{% endfor %}
{% endif %}