::-webkit-selection {
  @include background-opacity(#2e2e2e, 0.8);
  color: $white;
  text-shadow: none;
}

::-moz-selection {
  @include background-opacity(#2e2e2e, 0.8);
  color: $white;
  text-shadow: none;
}

::selection {
  @include background-opacity(#2e2e2e, 0.8);
  color: $white;
  text-shadow: none;
}

hr {
  background-color: $ultra-dark-grey;
  border: 0;
  height: 1px;
  margin-bottom: $spacing-unit;
  margin-top: $spacing-unit;
}

ul,
ol {
  @include rem(font-size, 22px);
  @include line-height(14);

  @include media-query(small, 40em) {
    @include rem(font-size, 16px);
    @include line-height(10);
  }
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

figure {
  margin: 0;
}

figure > img {
  display: block;
}

figcaption {
  font-size: $base-font-size * 0.875;
}

a {
  color: $dark-grey;
  border-bottom: 1px solid $dark-grey;
  text-decoration: none;
  @include transition(all, 0.3s, ease);

  &:hover {
    border-bottom: 1px solid $dark-grey;
    color: $ultra-dark-grey;
    text-decoration: none;
  }
}
