@include selection {
  @include background-opacity($blue, 0.8);
  color: $white;
  text-shadow: none;
}

hr {
  background-color: $dark-grey;
  border: 0;
  height: 1px;
  margin-bottom: $spacing-unit;
  margin-top: $spacing-unit;
}

ul,
ol {
  @include rem(font-size, 16px);
  @include line-height(12);
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

figure {
  margin: 0;
}

figure > img {
  display: block;
}

figcaption {
  font-size: $base-font-size * 0.875;
}

a {
  color: $dark-grey;
  border-bottom: 1px solid $dark-grey;
  padding-bottom: 2px;
  text-decoration: none;
  @include transition(all, 0.2s, linear);

  &:hover {
    border-color: $blue;
    color: $blue;
    text-decoration: none;
  }
}