*,
*:before,
*:after {
  @include box-sizing(border-box);
}

#wrapper,
.project-content,
.container,
.work,
.project-role,
.read-next-note,
.read-prev-note {
  @include clearfix();
}

#wrapper {
  position: relative;
  width: 100%;
}

.project-content {
  position: relative;
  width: 100%;

  p {
    img {
      margin-bottom: $spacing-unit * 2;
      margin-top: $spacing-unit * 2;
    }

    &:last-child img {
      margin-bottom: $spacing-unit;
    }
  }
}

.container {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;

  @include media-query(small, 40em) {
    padding-left: $spacing-unit / 2;
    padding-right: $spacing-unit / 2;
  }
}

.header {
  padding: $spacing-unit ($spacing-unit * 2);

  @include media-query(medium, 40em, 72.50em) {
    padding: $spacing-unit;
  }

  @include media-query(small, 40em) {
    padding: $spacing-unit / 2;
  }
}

.logo {
  border: none;

  > svg {
    clip-rule: evenodd;
    display: inline-block;
    fill-rule: evenodd;
    height: 20px;
    stroke-linejoin: round;
    stroke-miterlimit: 1.41421;
    vertical-align: middle;
    width: 28px;

    #logo {
      fill-rule: nonzero;
    }
  }
}

.main-nav {
  float: right;

  ul {
    @include rem(font-size, 16px);
    font-weight: 300;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;

    > li {
      display: block;
      float: left;
      @include line-height(11);
      padding-right: $spacing-unit;

      &:last-child {
        padding-right: 0;
      }

      a {
        border: none;
        color: $medium-grey;

        &:hover {
          border: none;
          color: $blue;
        }
      }
    }

    li.active a {
      color: $blue;
    }
  }
}

.hero {
  margin-bottom: $spacing-unit * 8;
  margin-top: $spacing-unit * 8;

  @include media-query(small, 62.50em) {
    margin-bottom: $spacing-unit * 6;
    margin-top: $spacing-unit * 6;
  }

  @include media-query(small, 40em) {
    margin-bottom: $spacing-unit * 4;
    margin-top: $spacing-unit * 4;
  }
}

.work {
  position: relative;
  width: 100%;

  .work-card {
    background: #f2f2f2;
    margin-bottom: $spacing-unit / 6;
    padding: ($spacing-unit * 4) $spacing-unit;
    text-align: center;

    &:last-child {
      margin-bottom: 0;
    }

    h2 {
      color: $dark-grey;
      margin: ($spacing-unit * 2) 0 0 0;

      @include media-query(small, 40em) {
        @include rem(font-size, 18px);
      }
    }

    h3 {
      color: $dark-grey;
      @include rem(font-size, 16px);
      font-weight: 300;
      margin: ($spacing-unit / 6) 0 0 0;
    }

    p {
      margin: $spacing-unit 0 0 0;
    }

    a {
      border: none;
      color: $light-grey;
      font-weight: 300;

      span {
        left: $spacing-unit / 8;
        position: relative;
        @include transition(left, 0.2s, linear);
      }

      &:hover {
        border: none;
        color: $blue;

        span {
          left: $spacing-unit / 3;
          position: relative;
          @include transition(left, 0.2s, linear);
        }
      }
    }
  }
}

.call-to-action {
  margin-bottom: 0;
  margin-top: $spacing-unit * 2;
  text-align: center;

  @include media-query(small, 62.50em) {
    margin-bottom: $spacing-unit;
    margin-top: $spacing-unit;
  }
}

footer {
  @include rem(font-size, 14px);
  margin: ($spacing-unit * 2) 0;
  text-align: center;

  p {
    font-weight: 300;
    margin: 0 0 ($spacing-unit / 4) 0;
  }

  ul {
    font-weight: 300;
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      display: inline-block;
      @include rem(font-size, 14px);
      @include line-height(7);
      padding-right: $spacing-unit;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  @include media-query(small, 40em) {
    margin-bottom: $spacing-unit / 2;
  }
}

.post {
  margin-bottom: $spacing-unit;
  padding-bottom: $spacing-unit;
  position: relative;

  .post-title {
    margin-bottom: $spacing-unit / 3;

    a {
      border: none;

      &:hover {
        border: none;
      }
    }
  }

  @include media-query(small, 40em) {
    margin-bottom: $spacing-unit / 2;
    padding-bottom: $spacing-unit / 2;
  }

  p {
    margin: ($spacing-unit / 2) 0;

    @include media-query(small, 40em) {
      margin-bottom: 0;
    }

    a {
      border: none;
      color: $light-grey;
      @include rem(font-size, 14px);
      font-weight: 300;

      span {
        left: $spacing-unit / 8;
        position: relative;
        @include transition(left, 0.2s, linear);
      }

      &:hover {
        color: $blue;

        span {
          left: $spacing-unit / 3;
          position: relative;
          @include transition(left, 0.2s, linear);
        }
      }
    }
  }

  time {
    color: $light-grey;
    font-weight: 300;

    @include media-query(small, 40em) {
      @include rem(font-size, 14px);
    }
  }
}

.pagination {
  color: $light-grey;
  font-weight: 300;
  margin-bottom: 0;
  position: relative;
  text-align: center;

  .page-number {
    display: inline-block;

    @include media-query(small, 40em) {
      display: block;
      margin: ($spacing-unit / 2) 0;
    }
  }

  .newer-posts,
  .older-posts {
    border: none;
    color: $light-grey;
    display: inline-block;
    position: absolute;
    text-decoration: none;

    @include media-query(small, 40em) {
      display: block;
      position: relative;
    }
  }

  .newer-posts {
    left: 0;

    span {
      position: relative;
      right: $spacing-unit / 8;
      @include transition(right, 0.2s, linear);
    }

    &:hover {
      color: $blue;

      span {
        position: relative;
        right: $spacing-unit / 3;
        @include transition(right, 0.2s, linear);
      }
    }
  }

  .older-posts {
    right: 0;

    span {
      left: $spacing-unit / 8;
      position: relative;
      @include transition(left, 0.2s, linear);
    }

    &:hover {
      color: $blue;

      span {
        left: $spacing-unit / 3;
        position: relative;
        @include transition(left, 0.2s, linear);
      }
    }
  }
}

.post-header {
  margin-bottom: $spacing-unit;

  .post-title {
    margin: ($spacing-unit * 2) 0 0 0;
  }

  .post-meta {
    margin-top: $spacing-unit / 3;
  }

  .post-meta {
    time {
      color: $light-grey;
      font-weight: 300;
    }
  }

  @include media-query(small, 40em) {
    margin-bottom: $spacing-unit / 2;
  }
}

#wrapper,
.post-inner {
  p:last-child {
    margin-bottom: 0;
  }
}

.post-inner {
  p {
    img {
      margin-bottom: $spacing-unit * 2;
      margin-top: $spacing-unit * 2;
    }

    &:last-child img {
      margin-bottom: $spacing-unit;
    }
  }
}

.page-overview {
  margin-bottom: $spacing-unit;
}

.project-role {
  div {
    @include rem(font-size, 16px);
    display: inline-block;
    margin-bottom: $spacing-unit;
    padding-right: $spacing-unit;
  }
}

.projects-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin: ($spacing-unit * 2) 0 0 0;
  position: relative;
  width: 100%;

  .next-project,
  .previous-project {
    background: #f2f2f2;
    flex-grow: 1;
    padding: $spacing-unit * 2;
    text-align: center;

    @include media-query(small, 40em) {
      padding: $spacing-unit;
    }

    .hidden {
      color: $light-grey;
    }

    a {
      border: none;
    }
  }

  .previous-project {
    a {
      span {
        position: relative;
        right: $spacing-unit / 8;
        @include transition(right, 0.2s, linear);
      }

      &:hover {
        span {
          position: relative;
          right: $spacing-unit / 3;
          @include transition(right, 0.2s, linear);
        }
      }
    }
  }

  .next-project {
    a {
      span {
        left: $spacing-unit / 8;
        position: relative;
        @include transition(left, 0.2s, linear);
      }

      &:hover {
        span {
          left: $spacing-unit / 3;
          position: relative;
          @include transition(left, 0.2s, linear);
        }
      }
    }
  }
}

.read-next {
  background: #f2f2f2;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  margin: ($spacing-unit * 2) 0 0 0;
  position: relative;
  width: 100%;

  .read-next-note {
    text-align: left;

    @include media-query(small, 40em) {
      text-align: center;
    }
  }

  .read-prev-note {
    text-align: right;

    @include media-query(small, 40em) {
      text-align: center;
    }
  }

  .read-next-note,
  .read-prev-note {
    border: none;
    flex-grow: 1;
    padding: $spacing-unit * 2;

    @include media-query(small, 40em) {
      padding: $spacing-unit;
    }

    .post-read-more {
      h4 {
        color: $light-grey;
        font-weight: 300;
        @include rem(font-size, 16px);
        @include line-height(10);
        margin: 0;

        @include media-query(small, 40em) {
          @include rem(font-size, 14px);
          @include line-height(9);
        }
      }

      h2 {
        color: $dark-grey;
        @include rem(font-size, 22px);
        @include line-height(14);
        margin: 0;
        @include transition(color, 0.2s, linear);

        @include media-query(small, 40em) {
          @include rem(font-size, 18px);
          @include line-height(12);
        }
      }
    }

    &:hover {
      h2 {
        color: $blue;
      }
    }

    @include media-query(small, 40em) {
      width: 100%;
    }
  }
}