body {
  color: $dark-grey;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: 700;
  margin: 0 0 ($spacing-unit / 2) 0;
}

h1 {
  @include rem(font-size, 36px);
  @include line-height(18);

  @include media-query(small, 40em) {
    @include rem(font-size, 28px);
    @include line-height(14);
  }
}

h2 {
  @include rem(font-size, 32px);
  @include line-height(16);

  @include media-query(small, 40em) {
    @include rem(font-size, 24px);
    @include line-height(12);
  }
}

h3 {
  @include rem(font-size, 28px);
  @include line-height(14);

  @include media-query(small, 40em) {
    @include rem(font-size, 22px);
    @include line-height(11);
  }
}

h4 {
  @include rem(font-size, 24px);
  @include line-height(12);

  @include media-query(small, 40em) {
    @include rem(font-size, 16px);
    @include line-height(8);
  }
}

h5 {
  @include rem(font-size, 20px);
  @include line-height(10);

  @include media-query(small, 40em) {
    @include rem(font-size, 12px);
    @include line-height(6);
  }
}

h6 {
  @include rem(font-size, 16px);
  @include line-height(8);

  @include media-query(small, 40em) {
    @include rem(font-size, 8px);
    @include line-height(4);
  }
}

p {
  line-height: $base-line-height;
  margin-bottom: $spacing-unit;
  margin-top: 0;
}

b,
strong {
  font-weight: 700;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  background: $white;
  border-left: 4px solid $blue;
  @include rem(font-size, 20px);
  @include line-height(10);
  padding-left: $spacing-unit / 2;

  > :last-child {
    margin-bottom: 0;
  }

  @include media-query(small, 40em) {
    @include rem(font-size, 16px);
    @include line-height(8);
  }
}

cite {
  display: block;
  @include rem(font-size, 18px);
  @include line-height(12);
  font-style: italic;
  font-weight: 700;
  margin: $spacing-unit / 2;

  @include media-query(small, 40em) {
    @include rem(font-size, 16px);
    @include line-height(8);
  }
}

pre,
code {
  background-color: lighten($dark-grey, 70%);
  @include border-radius(3px);
  border: 1px solid $medium-grey;
}

code {
  padding: 1px 5px;
}

pre {
  padding: ($spacing-unit / 3) ($spacing-unit / 2);
  overflow-x: scroll;

  > code {
    border: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.hero-title {
  @include rem(font-size, 60px);
  @include line-height(32);
  margin: 0;

  @include media-query(small, 62.50em) {
    @include rem(font-size, 46px);
    @include line-height(26);
  }

  @include media-query(small, 40em) {
    @include rem(font-size, 28px);
    @include line-height(16);
  }
}

.hero,
.call-to-action {
  p {
    @include rem(font-size, 18px);
    @include line-height(11);
    margin: ($spacing-unit / 2) 0 0 0;

    @include media-query(small, 40em) {
      @include rem(font-size, 16px);
      @include line-height(10);

      br {
        display: none;
      }
    }
  }
}

.call-to-action {
  h1 {
    @include rem(font-size, 24px);
    @include line-height(14);
    margin: 0;

    @include media-query(small, 40em) {
      @include rem(font-size, 18px);
      @include line-height(9);
    }
  }
}

.page-title {
  margin: ($spacing-unit * 2) 0 $spacing-unit;

  @include media-query(small, 62.50em) {
    margin: ($spacing-unit * 2) 0 ($spacing-unit / 2);
  }

  @include media-query(small, 40em) {
    margin: $spacing-unit 0 ($spacing-unit / 2);
  }
}

#capabilities,
#contact,
#colophon {
  margin-top: $spacing-unit * 2;

  @include media-query(small, 40em) {
    margin-top: $spacing-unit;
  }
}