---
layout: default
---
<section class="l-page">
	<header class="c-header">
		<h1>{{ page.title }}</h1>
		<div class="c-header__text">
			<time datetime="{{ page.date | date: '%B %d, %Y' }}">{{ page.date | date: '%B %d, %Y' }}</time>
		</div>
	</header>

	<div class="c-container c-container--narrow">
		{{ content }}
	</div>

	<nav class="c-container c-container--narrow c-pagination__posts u-flex u-flex-align-items-center u-flex-justify-space-between u-flex-wrap" role="pagination">
	{{ post.url | remove: '/' }}
	{% if page.previous %}
		<a class="c-pagination__link--previous" href="{{ page.previous.url }}">
			<h6>&lsaquo; Previous</h6>
			<h6><strong>{{ page.previous.title }}</strong></h6>
		</a>
	{% endif %}
	{% if page.next %}
		<a class="c-pagination__link--next" href="{{ page.next.url }}">
			<h6>Next &rsaquo;</h6>
			<h6><strong>{{ page.next.title }}</strong></h6>
		</a>
	{% endif %}
	</nav>
</section>